body {
    background-color: rgb(59, 132, 197);
    text-align: center;
}

section {
    text-align: left;
}

div {
    text-align: center;
}

button {
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: aliceblue;
    transition: all;
}

button:hover {
    color: black;
    background-color: aliceblue;
    transition: .5s;
}